body {
  font-family: Source Sans Pro;
  background: #fff url(img/ps_neutral.png) repeat left top;
}

#content {
  max-width: 780px;
  margin: 200px auto;
}

#text {
  font-family: Helvetica Neue;
  font-weight: bold;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: rotate(45deg) translate(-150px, 200px); 
  -webkit-transform-origin: 100% 100%;
  margin-bottom: 150px;
}

#name h1 {
  font-size: 120px;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

#name {
  -webkit-transform:rotate(-90deg) translate(-360px, 240px); 
  -webkit-transform-origin: 0px 0px; 
  margin: 0 0;
  max-width: 600px;
  position: relative;
  left: 0px;
}

#job {
  text-align: center;
}

#co {
  background-image: url(img/gumroad-logo-big.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  line-height: 100px;
  height: 120px;
  width: 420px;
  float: right;
  margin-right: -10px;
}

ul.buttons {
  list-style-type: none;
  text-align: center;
  margin-top: 40px;
}

ul.buttons li {
  display: inline;
}

.button {
  margin: 0 5px;
  cursor:pointer;
}

.button:hover {
  background-color:#D4D4D4;
}

.flat-icon {
  background-size: 100px 100px;
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 100px;
}

#github-link {
  background-image: url(img/github.png);
  background-color: #4183C4;
}

#twitter-link {
  background-image: url(img/twitter.png);
  background-color: #00ACED;
}

#email-link {
  background-image: url(img/email.png);
  background-color: #00405D;
}
