body {
  font-family: Source Sans Pro;
  background: #fff url(img/ps_neutral.png) repeat left top;
}

#content {
  max-width: 780px;
  margin: 200px auto;
}

#text {
  font-family: Helvetica Neue;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

#name {
  display: flex;
  justify-content: center;
}

#name h1 {
  display: inline;
  font-size: 120px;
}

ul.buttons {
  list-style-type: none;
  text-align: center;
  margin-top: 40px;
}

ul.buttons li {
  display: inline;
}

.button {
  margin: 0 5px;
  cursor:pointer;
}

.button:hover {
  background-color:#D4D4D4;
}

.flat-icon {
  background-size: 100px 100px;
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 100px;
}

#github-link {
  background-image: url(img/github.png);
  background-color: #4183C4;
}

#twitter-link {
  background-image: url(img/twitter.png);
  background-color: #00ACED;
}

#email-link {
  background-image: url(img/email.png);
  background-color: #00405D;
}
